{% extends "base.html" %} {% block content %}
<div>
    <h2>
        {{ name }}
    </h2>
</div>
<div>
    {% if error is defined %}
    <div>
        <h4>
            {{ error }}
        </h4>
    </div>
    {% endif %}
    <form method="POST" action="{{base_path}}/login">
        <label for="username">username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <a href="{{base_path}}/home">Home</a>
    <a href="{{base_path}}/users/add">Register</a>
</div>
{% endblock %}