{% extends "base.html" %}

{% block body %}
	<div>
		<h2>
			{{ name }}
		</h2>
	</div>
	{% if error is defined %}
		<div>
			<h4>
				{{ error }}
			</h4>
		</div>
	{% endif %}
	<div>
		<form method="POST" action="{{base_path}}/users/add">
			<div class="input-group">
				<label>First Name</label>
				<input type="text" name="firstname" value="">
			</div>
			<div class="input-group">
				<label>Last Name</label>
				<input type="text" name="lastname" value="">
			</div>
			<div class="input-group">
				<label>Username</label>
				<input type="text" name="username" value="">
			</div>
			<div class="input-group">
				<label>Email</label>
				<input type="email" name="email">
			</div>
			<div class="input-group">
				<label>Password</label>
				<input type="password" name="password">
			</div>
			<div class="input-group">
				<label>Confirm password</label>
				<input type="password" name="confirmpassword">
			</div>
			<div class="input-group">
				<label>Phone Number</label>
				<input type="tel" name="phonenumber">
			</div>
			<div class="input-group">
				<label for="details">Details:</label>
				<textarea id="details" name="details" rows="4" cols="50" placeholder="Details"></textarea>
			</div>
			<div class="input-group">
				<label>Website</label>
				<input type="text" name="website">
			</div>
			<div class="input-group">
				<label>Country</label>
				<input type="text" name="country" value="">
			</div>
			<div class="input-group">
				<label>City</label>
				<input type="text" name="city" value="">
			</div>
			<div class="input-group">
				<label>Date Of Birth (DD-MM-YYYY )</label>
				<input type="text" name="date_of_birth">
			</div>
			<div class="input-group">
				<label>Occupation</label>
				<input type="text" name="occupation">
			</div>
			<div class="input-group">
				<label>Status</label>
				<input type="text" name="status">
			</div>
			<div class="input-group">
				<label>Birth Place</label>
				<input type="text" name="birthplace" value="">
			</div>
			<div class="input-group">
				<label for="interests">Interests:</label>
				<textarea id="interests" name="interests" rows="4" cols="50" placeholder="Interests"></textarea>
			</div>
			<div class="input-group">
				<button type="submit" class="btn" name="reg_user">Register</button>
			</div>
		</form>
	</div>
	<div>
		<a href="{{base_path}}/home">Home</a>
		<a href="{{base_path}}/login">Login</a>
	</div>

{% endblock %}
