{% if session.is_logged_in is defined %}
<nav>
    <a href="{{base_path}}/home">Home</a> |
    <a href="{{base_path}}/products">Products</a> |
    <a href="{{base_path}}/shopping_cart">Shopping Cart</a> |
    <a href="{{base_path}}/admin">Admin</a>
    <a href="{{base_path}}/logout">Logout</a>
</nav>
<hr>
<div>
    <span style="color:#131316;font-size:28px;">{{l.core_logged_in_as}}: {{session.user_name}}</span> <br>
    <span style="color:#131316;font-size:20px;">{{l.core_my_user_id}}: {{session.user_id}}</span>
</div>
<hr> {% else %}
<h3>
    LOGIN
</h3>
{% endif %}