<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>
<body>
    <nav>
        <a href="{{base_path}}/home">Home</a> |
        <a href="{{base_path}}/users/{{cust_id}}">Profile</a> |
        <a href="{{base_path}}/users">All Users</a> |
        <a href="{{base_path}}/logout">Logout</a>
    </nav>
    <div>
        <h3>
            this is <br>
            {{ name }}
        </h3>
    </div>
    <div>
        <a href="{{base_path}}/login">Login</a>
        <a href="{{base_path}}/users/add">Register</a>
    </div>
</body>
</html>