<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page One</title>
</head>
<body>
    <div>
        <h3>
            this is <br>
            {{ name }}
        </h3>
    </div>
    <div>
        <a href="/apps/projects/v2/">Home link</a>
    </div>
</body>
</html>